body {
  box-sizing: border-box;
  margin: 5px;
  font-family: sans-serif;
  background-color: #f2edf3;
}
.card {
  overflow: hidden;
  position: relative;
  display: inline-block;
  min-width: 20%;
  min-height: 40px;
  padding: 50px 70px;
  color: white;
  border-radius: 10px;
  font-size: 1.3em;
}
.card::after,
.card::before {
  content: "";
  position: absolute;
  opacity: 20%;
  display: block;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-color: white;
}
.card::after {
  top: -20%;
  right: -30%;
}
.card::before {
  right: -10%;
  bottom: -50%;
}
.relative {
  position: relative;
}
.card-icon {
  position: absolute;
  top: 0;
  right: 0;
}
.card1 {
  background: linear-gradient(
    90deg,
    rgba(255, 189, 154, 1) 0%,
    rgba(255, 135, 152, 1) 100%
  );
}
.card2 {
  margin: 0px 40px;
  background: linear-gradient(
    90deg,
    rgba(139, 200, 245, 1) 0%,
    rgba(26, 145, 224, 1) 100%
  );
}
.card3 {
  background: linear-gradient(
    90deg,
    rgba(125, 217, 210, 1) 0%,
    rgba(34, 216, 194, 1) 100%
  );
}
.font-size {
  font-size: 1.5em;
  padding-top: 1em;
  padding-bottom: 2em;
}
p {
  font-weight: bold;
}
